<h1>AgreeTerms#index</h1>
<p>Find me in app/views/agree_terms/index.html.erb</p>

<p>参加費一試合につき￥３００　各自コート代</p>
<p>優勝者に¥5000000、その地域の人で山分け¥5000000</p>

<%= link_to "同意します", agree_terms_participation_decision_path %>
<%= link_to "同意しません", call_for_participation_top_path %>